In [57]:
x=[1,2,3,4,5]
y=["string1","string2","string3","string4","mango","banana"]
print(x)

[1, 2, 3, 4, 5]

In [58]:
print(y)
x.append(1)
print(x)
n=["Abhilash"]
ln=["Maurya"]
name1=['A','B','H','I','L','A','S','H']

['string1', 'string2', 'string3', 'string4', 'mango', 'banana']
[1, 2, 3, 4, 5, 1]

In [59]:
# name2=name1[:-2]
l=[1,2,3]
l.append(x)

In [60]:
print(l)

[1, 2, 3, [1, 2, 3, 4, 5, 1]]

In [61]:
l2=l.pop()
l.sort(reverse=True)
print(l)
print(l+l2)

[3, 2, 1]
[3, 2, 1, 1, 2, 3, 4, 5, 1]

In [62]:
name3="Vaibhav"
print(name3)

Vaibhav

In [63]:
tpl=(1,2,3,4,5,6)
print(tpl)

(1, 2, 3, 4, 5, 6)

In [64]:
lst=list(tpl)
print(lst)
print(tpl)
Set=set(lst)
print(Set)
print(type(lst),type(tpl),type(Set))

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
{1, 2, 3, 4, 5, 6}
<class 'list'> <class 'tuple'> <class 'set'>

In [65]:
lst2=["Machine",["Learning",1]]
print(lst2[1][0][0])

L

In [66]:
dictionary1={"Name":"Abhilash","LibID":1120}
print(dictionary1["Name"])

Abhilash

In [67]:
students={1:["Abhilash","LIbraryID"]}
l2.pop()